<%= render "share/header" %>

<div class="index-page">

  <div class="index-header">
    <h1 class="index-title">帯</h1>
  </div>

  <hr class="line">

  <div class="put-away-btn">
    <%= link_to "帯をしまう", new_obi_path, class: "put-away" %>
  </div>

  <div class='contents'>
    <ul class='lists'>
      <% if user_signed_in? %>
      <% @obis.each do |obi| %>
        <li class='list'>
          <%= link_to obi_path(obi.id), class: 'to-show-img' do %>
            <%= image_tag obi.image.variant(resize: '300x300'), class: "goods-img" if obi.image.attached?%>
            <div class='info'>
              <div class='goods-name'>
                <%= obi.obi_name.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= render "share/footer" %>