<%= render "share/header" %>

<%# 画像 %>
<div class="img-contents">
  <%= image_tag @obi.image.variant(resize: '500x500'), class:"img-box"%>
</div>

<div class="details-box">

  <%# 種類 %>
  <div class="detail-goods">
    <%= @obi.obi_name.name %>
  </div>
  <%# TPO %>
  <div class="detail-goods">
    <%= @obi.tpo.name %>
  </div>
  <%# 色柄 %>
  <div class="detail-goods">
    <%= @obi.color_pattern %>
  </div>
  <%# 時期 %>
  <div class="detail-goods">
    <%= @obi.season %>
  </div>
  <%# 材質 %>
  <div class="detail-goods">
    <%= @obi.material.name %>
  </div>
  <%# 最新着用日 %>
  <div class="detail-goods">
    <%= @obi.wore_date %>
  </div>
  <%# 最新お手入れ日 %>
  <div class="detail-goods">
    <%= @obi.cleaned_date %>
  </div>
  <%# メモ %>
  <div class="detail-goods">
    <%= @obi.memo %>
  </div>
  
</div>

<div>
  <%= link_to "編集", edit_obi_path(@obi.id), class: "post" %>
</div>
<div>
  <%= link_to "削除", obi_path(@obi.id), method: :delete, class: "destroy"%>
</div>