<%= render "share/header" %>

<div class="sign-page">
  <div class="log-header">
    <h2 class="title">ログイン</h2>
  </div>

  <hr class="line">

  <div class="form">
    <%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>

      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="field">
        <div class="field-name">
          <%= f.label :email %><br />
        </div>
        <div class="field-holder">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field-holder' %>
        </div>
      </div>

      <div class="field">
        <div class="field-name">
          <%= f.label :password %><br />
        </div>
        <div class="field-holder">
          <%= f.password_field :password, autocomplete: "current-password", class: 'field-holder' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="submit">
        <%= f.submit "ログイン", class: 'sign-btn' %>
      </div>
      <%= render "devise/shared/links" %>  
    <% end %>
  </div>
</div>
<%= render "share/footer" %>
