<%= render "share/header" %>

<%= form_with model: @item, url: item_path(@item.id), local: true do |f| %>
  <div class="edit-box">
    <div>編集</div>

    <%= render "share/obi_error_messages", model: f.object %>

    <div class="img-upload">
      <div>画像</div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"goods-image" %>
      </div>
    </div>

    <div>種類</div>
    <%= f.collection_select(:item_name_id, ItemName.all, :id, :name, {}, {class:"item-name-select"}) %>

    <%= render partial: "share/form", locals: { f: f } %>

    <%= f.submit "編集", class:"btn" %>
  </div>
<% end %>