<%= render "share/header" %>

<div class="new-page">

  <div class="new-header">
    <h2 class="new-title">小物をしまう</h2>
  </div>

  <hr class="line">

  <div class="new-form">
    <%= form_with model: @item, url: items_path, local: true do |f| %>

      <%= render "share/item_error_messages", model: f.object %>

      <div class="img-upload">
        <div class="field-name">画像</div>
        <div class="click-upload">
          <p>クリックしてファイルをアップ</p>
          <%= f.file_field :image, id:"goods-image" %>
        </div>
      </div>

      <div class="field">
        <div class="field-name">種類</div>
        <%= f.collection_select(:item_name_id, ItemName.all, :id, :name, {}, {class:"pulldown-select"}) %>
      </div>

      <%= render partial: "share/form", locals: { f: f } %>

      <div class="new-submit">
        <%= f.submit "タンスにしまう", class:"goods-rgbtn" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "share/footer" %>