<%= render "share/header" %>
<link rel="stylesheet" href="kimonos-edit.css">

<div class="show-page">

  <hr class="line">

  <div class="goods-name-show">
    <%= @item.item_name.name %>
  </div>

  <div class="show-img-contents">
    <%= image_tag @item.image.variant(resize: '500x500'), class:"img-box"%>
  </div>

  <div class="details-box">

    <div class="detail-goods">
      <div class="detail-name">TPO</div>
      <%= @item.tpo.name %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">素材</div>
      <%= @item.material.name %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">時期</div>
      <div class="detail-text"><%= @item.season %></div>
    </div>

    <div class="detail-goods">
      <div class="detail-name">色・柄</div>
      <div class="detail-text"><%= @item.color_pattern %></div>
    </div>

    <div class="detail-goods">
      <div class="detail-name">最近着た日</div>
      <%= @item.wore_date %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">お手入れ日</div>
      <%= @item.cleaned_date %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">メモ</div>
      <div class="detail-text"><%= @item.memo %></div>
    </div>
  </div>

  <div class="edit-btn">
    <%= link_to "編集", edit_item_path(@item.id), class: "edit" %>
  </div>
  <div class="destroy-bnt">
    <%= link_to "削除", item_path(@item.id), method: :delete, class: "destroy"%>
  </div>
</div>
<%= render "share/footer" %>