<%= form_with model: @kimono, url: kimono_path(@kimono.id), local: true do |f| %>
  <div class="kimono-box">
    <div>編集</div>

    <%# <%= render "share/error_messages", model: f.object %> %>

    <div class="img-upload">
      <div>画像</div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"kimono-image" %>
      </div>
    </div>

    <div>種類</div>
    <%= f.collection_select(:kimono_name_id, KimonoName.all, :id, :name, {}, {class:"kimono-name-select"}) %>

    <div>分類</div>
    <%= f.collection_select(:kimono_genre_id, KimonoGenre.all, :id, :name, {}, {class:"kimono-genre-select"}) %>

    <%= render partial: "share/form", locals: { f: f } %>


    <%= f.submit "編集", class:"btn" %>
  </div>
<% end %>