<%= render "share/header" %>
<link rel="stylesheet" href="kimono/new.css">

<div class="new-page">

  <div class="new-header">
    <h2 class="new-title">編集</h2>
  </div>
  
  <hr class="line">

  <div class="new-form">
    <%= form_with model: @kimono, url: kimono_path(@kimono.id), local: true do |f| %>

      <%= render "share/error_messages", model: f.object %>

      <div class="img-upload">
        <div>画像</div>
        <div class="click-upload">
          <p>クリックしてファイルをアップロード</p>
          <%= f.file_field :image, id:"kimono-image" %>
        </div>
      </div>

      <div class="field">
        <div class="field-name">種類</div>
        <%= f.collection_select(:kimono_name_id, KimonoName.all, :id, :name, {}, {class:"pulldown-select"}) %>
      </div>

      <div class="field">
        <div class="field-name">分類</div>
        <%= f.collection_select(:kimono_genre_id, KimonoGenre.all, :id, :name, {}, {class:"pulldown-select"}) %>
      </div>

      <%= render partial: "share/form", locals: { f: f } %>

      <div class="new-submit">
        <%= f.submit "編集", class:"goods-rgbtn" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "share/footer" %>