<%= render "share/header" %>

  <div class="index-page">

    <div class="index-header">
      <h1 class="index-title">着物</h1>
    </div>

    <hr class="line">

    <div class="put-away-btn">
      <%= link_to "着物をしまう", new_kimono_path, class: "put-away" %>
    </div>
      
    <div class='contents'>
      <ul class='lists'>
        <% if user_signed_in? %>
        <% @kimonos.each do |kimono| %>
          <li class='list'>
            <%= link_to kimono_path(kimono.id), class: 'to-show-img' do %>
              <%= image_tag kimono.image.variant(resize: '300x300'), class: "goods-img", id: "goods-img" if kimono.image.attached?%>
              <div class='info'>
                <div class='goods-name'>
                  <%= kimono.kimono_name.name %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<%= render "share/footer" %>