<%= render "share/header" %>
<link rel="stylesheet" href="kimonos/edit.css">

<div class="edit-page">

  <hr class="line">

  <div class="goods-name-edit">
    <%= @kimono.kimono_name.name %>
  </div>

  <div class="show-img-contents">
    <%= image_tag @kimono.image.variant(resize: '500x500'), class:"img-box"%>
  </div>

  <div class="details-box">

    <div class="detail-goods">
      <div class="detail-name">分類</div>
      <%= @kimono.kimono_genre.name %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">TPO</div>
      <%= @kimono.tpo.name %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">素材</div>
      <%= @kimono.material.name %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">時期</div>
      <div class="detail-text"><%= @kimono.season %></div>
    </div>

    <div class="detail-goods">
      <div class="detail-name">色・柄</div>
      <div class="detail-text"><%= @kimono.color_pattern %></div>
    </div>

    <div class="detail-goods">
      <div class="detail-name">最近着た日</div>
      <%= @kimono.wore_date %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">お手入れ日</div>
      <%= @kimono.cleaned_date %>
    </div>

    <div class="detail-goods">
      <div class="detail-name">メモ</div>
      <div class="detail-text"><%= @kimono.memo %></div>
    </div>

  </div>

  <div class="edit-btn">
    <%= link_to "編集", edit_kimono_path(@kimono.id), class: "edit" %>
  </div>

  <div class="destroy-btn">
    <%= link_to "削除", kimono_path(@kimono.id), method: :delete, class: "destroy"%>
  </div>

</div>
<%= render "share/footer" %>